body {
    font-family: sans-serif;
}


header {
    background-image: linear-gradient(to right, red, orange);
    padding: 30px;
}

header a {
    text-decoration: none;
    font-size: 30px;
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    text-shadow: 5px 5px 0 grey;
    font-size: 50px;
}

p {
    font-size: 30px;    
}

footer {
    background-image: linear-gradient(to right, red, orange);
    padding: 50px;
}

footer a {
    margin-left: 30px;
}

li {
    font-size: 30px;
}
